.cartContainer{
    display: flex;
    margin: 1rem 1.6rem;
    gap: 1rem;
}

.cartTotal{
    font-size: 1.5rem;
    font-weight: bold;
}

.cartDetailActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 500px;
}

.cartButtonCheckout{
    border: none;
    background-color: #5156A4;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
}
.cartButtonCheckout:hover{
    background-color: #3f428e;
}

.headerCartContainer{
    display: flex;
    flex-direction: row;
    padding: 0.54rem;
}
.headerCartContainer .backButton{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.headerCartContainer .backButton:hover{
    border-bottom: 1px solid #5156A4;
    scale: 1.02;
}